<a routerLink="/administracion/crear-plan" class="btn">Nuevo Plan</a>
<table class="table response">
        <thead class="cabecera">
                <tr>
                        <th>NOMBRE</th>
                        <th>COLOR</th>
                        <th>VALOR</th>
                        <th>ATRACCIONES</th>
                </tr>

        </thead>
        <tbody>
                <tr *ngFor="let p of listadoPlanes">
                        <td>{{p.nombre}}</td>
                        <td>{{p.color}}</td>
                        <td>{{p.valor}}</td>
                        <td>{{p.atraccionesvalidas}}</td>
                        <td>
                                <a routerLink="/administracion/editar-plan/{{p.id}}" class="btn">Editar Plan</a>
                        </td>
                        <td>
                                <a routerLink="/administracion/eliminar-plan/{{p.id}}" class="btn">Eliminar Plan</a>
                        </td>

                </tr>
        </tbody>
</table>