<div class="signupFrm">
    <form [formGroup]="fgvalidador" (ngSubmit)="editarusuario()" method="POST" action="" class="form">
        <input type="hidden" formControlName="id" />
        <h1 class="title">Actualizar Usuario</h1>

        <div class="inputContainer">
            <input formControlName="fecha" type="date" class="input" placeholder="a">
            <label for="" class="active">Fecha</label>
        </div>

        <div class="inputContainer">
            <input formControlName="nombres" type="text" class="input" placeholder="a">
            <label for="" class="active">Nombres</label>
        </div>

        <div class="inputContainer">
            <input formControlName="apellidos" type="text" class="input" placeholder="a">
            <label for="" class="active">Apellidos</label>
        </div>

        <div class="inputContainer">
            <input formControlName="documento" type="text" class="input" placeholder="a">
            <label for="" class="active">Documento</label>
        </div>
        <div class="inputContainer">
            <input formControlName="correo" type="email" class="input" placeholder="a">
            <label for="" class="active">Correo</label>
        </div>
        <div class="inputContainer">
            <input formControlName="cargo" type="text" class="input" placeholder="a">
            <label for="" class="active">Cargo</label>
        </div>
        <div class="inputContainer">
            <input formControlName="celular" type="text" class="input" placeholder="a">
            <label for="" class="active">Celular</label>
        </div>
        <div class="inputContainer">
            <input formControlName="foto" type="text" class="input" placeholder="a">
            <label for="" class="active">Foto</label>
        </div>
        <button [disabled]="!fgvalidador.valid" class="btn waves-effect waves-light col s12" type="submit"
            name="action">Actualizar</button>
        <link type="text/css" href="" />
    </form>
</div>