<div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Log in</h2>
  
    <form [formGroup]="fgValidador" (ngSubmit)="identificarUsuario()" class="login-container">
      <p><input formControlName = "usuario" type="email" placeholder="Email"></p>
      <p><input
        formControlName= "clave" type="password" placeholder="Password"></p>
      <p><button [disabled]="!fgValidador.valid" type="submit" name="action">Enviar </button></p>
      <div class="row">
        <div class="input-field col s12">
            <button [disabled]="!fgValidador.valid" class="btn waves-effect waves-light col s12" 
            type="submit"  name="action">Ingresar</button>
                <!--(click)="IdentificarUsuario"-->
        </div>
    </div>
    </form>

  </div>
