<div class="signupFrm">
<form [formGroup]="fgvalidador" (ngSubmit)="editardepartamento()" method="POST" action="" class="form">
    <input type="hidden" formControlName="id" />
    <h1 class="title">Actualizar de Departamento</h1>

    <div class="inputContainer">
        <input formControlName="nombre" type="text" class="input" placeholder="a">
        <label for="" class="active">nombre</label>
    </div>

    <div class="inputContainer">
        <input formControlName="imagen" type="text" class="input" placeholder="a">
        <label for="" class="active">imagen</label>
    </div>


    <button [disabled]="!fgvalidador.valid" class="btn waves-effect waves-light col s12" type="submit"
        name="action">Ingresar</button>
    <link type="text/css" href="" />
</form>
</div>